<div class="container mt-5">
    <h1>About page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, corrupti aperiam! Dignissimos neque, ea incidunt magnam qui quam id repudiandae debitis hic consectetur, reprehenderit dolorem officia, facilis sequi. Ad, iusto.
    </p>


    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/about/team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about/company">Company</a>
        </li>
        
    </ul>

    <router-outlet></router-outlet>


</div>