<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="save()" >
                <div class="mb-3">
                    <label for="">Vehicule</label>
                    <select class="form-control" formControlName="vehicule">
                        <option value="">Please choose a value</option>
                        <option *ngFor="let c of cars" [value]="c.id">{{ c.mark }} {{ c.model }}  -  {{ c.immatriculation }}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="">INFO</label>
                    <textarea class="form-control" placeholder="CHANGE OIL..." formControlName="decreption"></textarea>
                </div>
                <div>
                    <button [disabled]="! form.valid" type="submit" class="btn btn-success">Save intervention</button>
                </div>

                <div class="alert alert-success mt-3" *ngIf="success != '' ">
                    {{ success }}
                </div>
            </form>
        </div>
    </div>
</div>