<app-navbar></app-navbar>

<div class="container mt-5">
   <div class="card">
    <div class="card-body">
        <form [formGroup]="addEmployeeForm"   (ngSubmit)="submitForm()" >
            <div class="mb-3">
                <label for="">Fullname 
                    <span class="text-danger" *ngIf="addEmployeeForm.controls.fullname.valid == false">*</span>
                </label>
                <input type="text" class="form-control" formControlName="fullname">
            </div>
            <div class="mb-3">
                <label for="">Email</label>
                <input type="text" class="form-control" formControlName="email">
                <p>
                    <small class="text-danger" *ngIf="addEmployeeForm.controls.email.valid == false">
                        this feild is required, and must be an email
                    </small>
                </p>
            </div>
            <div class="mb-3">
                <label for="">Phone
                    <span class="text-danger" *ngIf="addEmployeeForm.controls.phone.valid == false">*</span>
                </label>
                <input type="text" class="form-control" formControlName="phone">
            </div>

            <button type="submit" class="btn btn-primary"  [disabled]=" ! addEmployeeForm.valid "  >Add</button>
            
        </form>
    </div>
   </div>
</div>